<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.swm.dao.sale.CustomerMapper" >
  <resultMap id="BaseResultMap" type="com.cn.swm.model.sale.Customer" >
    <result column="cuscode" property="cuscode" jdbcType="VARCHAR" />
    <result column="custype" property="custype" jdbcType="VARCHAR" />
    <result column="cusleavel" property="cusleavel" jdbcType="VARCHAR" />
    <result column="cusname" property="cusname" jdbcType="VARCHAR" />
    <result column="cusphone" property="cusphone" jdbcType="VARCHAR" />
    <result column="cusaddress" property="cusaddress" jdbcType="VARCHAR" />
    <result column="cuspost" property="cuspost" jdbcType="VARCHAR" />
    <result column="cusmail" property="cusmail" jdbcType="VARCHAR" />
    <result column="cuslimit" property="cuslimit" jdbcType="VARCHAR" />
    <result column="cusinput" property="cusinput" jdbcType="VARCHAR" />
    <result column="cusout" property="cusout" jdbcType="VARCHAR" />
    <result column="cusmanname" property="cusmanname" jdbcType="VARCHAR" />
    <result column="addby" property="addby" jdbcType="VARCHAR" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="updby" property="updby" jdbcType="VARCHAR" />
    <result column="updtime" property="updtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.cn.swm.model.sale.Customer" >
    insert into customer (cuscode, custype, cusleavel, 
      cusname, cusphone, cusaddress, 
      cuspost, cusmail, cuslimit, 
      cusinput, cusout, cusmanname, 
      addby, addtime, updby, 
      updtime)
    values (#{cuscode,jdbcType=VARCHAR}, #{custype,jdbcType=VARCHAR}, #{cusleavel,jdbcType=VARCHAR}, 
      #{cusname,jdbcType=VARCHAR}, #{cusphone,jdbcType=VARCHAR}, #{cusaddress,jdbcType=VARCHAR}, 
      #{cuspost,jdbcType=VARCHAR}, #{cusmail,jdbcType=VARCHAR}, #{cuslimit,jdbcType=VARCHAR}, 
      #{cusinput,jdbcType=VARCHAR}, #{cusout,jdbcType=VARCHAR}, #{cusmanname,jdbcType=VARCHAR}, 
      #{addby,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}, #{updby,jdbcType=VARCHAR}, 
      #{updtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.swm.model.sale.Customer" >
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cuscode != null" >
        cuscode,
      </if>
      <if test="custype != null" >
        custype,
      </if>
      <if test="cusleavel != null" >
        cusleavel,
      </if>
      <if test="cusname != null" >
        cusname,
      </if>
      <if test="cusphone != null" >
        cusphone,
      </if>
      <if test="cusaddress != null" >
        cusaddress,
      </if>
      <if test="cuspost != null" >
        cuspost,
      </if>
      <if test="cusmail != null" >
        cusmail,
      </if>
      <if test="cuslimit != null" >
        cuslimit,
      </if>
      <if test="cusinput != null" >
        cusinput,
      </if>
      <if test="cusout != null" >
        cusout,
      </if>
      <if test="cusmanname != null" >
        cusmanname,
      </if>
      <if test="addby != null" >
        addby,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="updby != null" >
        updby,
      </if>
      <if test="updtime != null" >
        updtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cuscode != null" >
        #{cuscode,jdbcType=VARCHAR},
      </if>
      <if test="custype != null" >
        #{custype,jdbcType=VARCHAR},
      </if>
      <if test="cusleavel != null" >
        #{cusleavel,jdbcType=VARCHAR},
      </if>
      <if test="cusname != null" >
        #{cusname,jdbcType=VARCHAR},
      </if>
      <if test="cusphone != null" >
        #{cusphone,jdbcType=VARCHAR},
      </if>
      <if test="cusaddress != null" >
        #{cusaddress,jdbcType=VARCHAR},
      </if>
      <if test="cuspost != null" >
        #{cuspost,jdbcType=VARCHAR},
      </if>
      <if test="cusmail != null" >
        #{cusmail,jdbcType=VARCHAR},
      </if>
      <if test="cuslimit != null" >
        #{cuslimit,jdbcType=VARCHAR},
      </if>
      <if test="cusinput != null" >
        #{cusinput,jdbcType=VARCHAR},
      </if>
      <if test="cusout != null" >
        #{cusout,jdbcType=VARCHAR},
      </if>
      <if test="cusmanname != null" >
        #{cusmanname,jdbcType=VARCHAR},
      </if>
      <if test="addby != null" >
        #{addby,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updby != null" >
        #{updby,jdbcType=VARCHAR},
      </if>
      <if test="updtime != null" >
        #{updtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
   <select id="getCustomerList" resultMap="BaseResultMap" parameterType="com.cn.swm.model.sale.Customer" >
       select
		*		
		from customer
		<where>
			<if test="cusname != null  and cusname != ''" >
				and cusname = #{cusname,jdbcType=VARCHAR} 
			</if>
			<if test="cusinput != null  and cusinput != ''" >
				and cusinput = #{cusinput,jdbcType=VARCHAR} 
			</if>
	    </where>	
  </select>
   <update id="updateCustomer" parameterType="com.cn.swm.model.sale.Customer" >
    update customer
    <set >
      <if test="cuscode != null" >
        cuscode = #{cuscode,jdbcType=VARCHAR},
      </if>
      <if test="custype != null" >
        custype = #{custype,jdbcType=VARCHAR},
      </if>
      <if test="cusleavel != null" >
        cusleavel = #{cusleavel,jdbcType=VARCHAR},
      </if>
       <if test="spnumber != null" >
        cusname = #{cusname,jdbcType=VARCHAR},
      </if>
       <if test="cusphone != null" >
        cusphone = #{cusphone,jdbcType=VARCHAR},
      </if>
       <if test="cusaddress != null" >
        cusaddress = #{cusaddress,jdbcType=VARCHAR},
      </if>
       <if test="cuspost != null" >
        cuspost = #{cuspost,jdbcType=VARCHAR},
      </if>
      <if test="cusmail != null" >
        cusmail = #{cusmail,jdbcType=VARCHAR},
      </if>
      <if test="cuslimit != null" >
        cuslimit = #{cuslimit,jdbcType=VARCHAR},
      </if>
       <if test="cusinput != null" >
        cusinput = #{cusinput,jdbcType=VARCHAR},
      </if>
       <if test="cusout != null" >
        cusout = #{cusout,jdbcType=VARCHAR},
      </if>
      <if test="cusmanname != null" >
        cusmanname = #{cusmanname,jdbcType=VARCHAR},
      </if>
    </set>
    where cuscode = #{cuscode,jdbcType=VARCHAR}
  </update>
   <update id="updateOut" parameterType="com.cn.swm.model.sale.Customer" >
    update customer
    <set >
       <if test="cusout != null" >
        cusout = #{cusout,jdbcType=VARCHAR},
      </if>
      <if test="cusinput != null" >
        cusinput = #{cusinput,jdbcType=VARCHAR},
      </if>
    </set>
    where cusname = #{cusname,jdbcType=VARCHAR}
  </update>
  <delete id="del" parameterType="String" >
    delete from customer
    where cuscode = #{cuscode,jdbcType=VARCHAR}
  </delete>
</mapper>